<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/">
  <channel>
    <title><![CDATA[${sitename}]]></title>
    <link><![CDATA[${siteurl}]]></link>
    <description><![CDATA[${sitedescription}]]></description>
    <copyright><![CDATA[Copyright 2010 loachs ${version}]]></copyright>
    <webMaster><![CDATA[]]></webMaster>
    <pubDate><![CDATA[${date.tostring("r")}]]></pubDate>
    <generator><![CDATA[Loachs]]></generator>
    <language><![CDATA[zh-cn]]></language>
    #foreach($item in $feedposts)
    <item>
      <title><![CDATA[${item.title}]]></title>
      <link><![CDATA[${item.url}]]></link>
      <guid><![CDATA[${item.url}]]></guid>
      <author><![CDATA[${item.author.name}]]></author>
      <category><![CDATA[${item.category.name}]]></category>
      <description><![CDATA[${item.feeddetail}]]></description>
      <pubDate><![CDATA[${item.createdate.tostring("r")}]]></pubDate>
    </item>
    #end
  </channel>
</rss>
