<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>#if(${isdefault}==0) ${pagetitle} - #end ${sitename}</title>
<meta name="keywords" content="${metakeywords}" />
<meta name="description" content="${metadescription}" />
<link rel="stylesheet" type="text/css" media="all" href="${themeurl}css/style.css" />
<script type="text/javascript" src="${siteurl}common/scripts/jquery.js"></script>
<script type="text/javascript" src="${siteurl}common/scripts/common.js"></script>
${head}
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="site">
            <h2><a href="$siteurl">${sitename}</a></h2>
            <p>${sitedescription}</p>
        </div>
        <ul class="nav">
        #foreach($item in $navlinks)
            <li><a href="${item.url}" title="${item.description}" target="${item.target}">${item.name}</a></li>
        #end
        </ul>
    </div>
    <div id="container"> 