body{ font-size:14px;   margin:0 auto;}
table {border-collapse: collapse; width:100%;} 
div{ margin:0px auto;}
ul{ list-style-type:none; margin:0; padding:0;}
ol{  margin:0; padding:0;}
img{ border:0;}

fieldset{ clear:both; margin:10px auto;border:1px solid #ccc; border-width:1px 0; padding:3px;}
legend { clear:both; font-weight:bold;  padding:0 5px; } 
a{color: #0046D5;text-decoration: none;  }
a:hover{text-decoration: underline;}

.gray {color:gray;}
.small {font-size:12px;}
.red { color:Red;}
.normal{ font-weight:normal;}

/*controls*/
input{  padding:4px 3px;   }

input.text 
{
	 border:1px solid #d3d3d3;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
input.button 
{
	  font-weight:bold;  
}
textarea 
{
	padding:4px 3px;
	border:1px solid #d3d3d3;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
select  
{
	border:1px solid #d3d3d3; padding:4px;  
    -moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
 


/*login*/
#login 
{
	border:1px solid #E1F0FD;   width:230px;   padding:5px 15px; margin:100px auto 0 auto; 

	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow:0 0 15px #E1F0FD;
	-webkit-box-shadow:0 0 15px #E1F0FD;
	-khtml-box-shadow:0 0 15px #E1F0FD;
	box-shadow:0 0 15px #E1F0FD;

	background: url(../images/admin/bglogo.gif)  no-repeat   210px bottom #F1F8FE;
}
#login p{ margin:18px 0;  }
 
#wrapper {  width:98%;   min-width:960px;}
 
#header { padding:  10px 0;  }
#header div { float:right;}

#container {    border:0px solid #999;   margin-top:0px;  }

#sidebar {   float:left; width:120px;  border:1px solid #A2CBFF; background:#f1f8fe ; padding:0 10px 10px; }
#sidebar h4 { background:#e3f1ff ;border-bottom:1px solid #C4DEFF;padding:4px 0 4px 10px; margin:10px 0;}
#sidebar ul{ list-style-type:none; margin:0 15px; padding:0;}
#sidebar li{ line-height:170%;}
#sidebar li.current a{   text-decoration:underline;   padding-left:3px;}

#content {  margin:0 0 0 155px; _float:left;  _margin:0 0 0 10px;   padding: 10px;  border: 1px solid #A2CBFF;      background:   #fff; min-height:420px;  *min-height:460px;} /*magical*/
#content h2 { background:#E3F1FF ; padding:5px; margin:0;}
#content h4 { background:#f4faf6 ; padding:5px; margin: 0px 0 0 0;   font-size:14px; height:18px;}

#content .right{ width:200px;  float:right; border:0px solid gray;  margin-top:0px;  }
#content .right p{ margin:10px 0 0 10px;  }
#content .left{ _float:left; margin-right:200px !important;  _margin-right:-10px; } 
#content .label{ display:block; padding:3px 0;}

#footer {  clear:both; text-align:center; padding:20px;}

.theme li{  float:left;  margin:15px 20px 0 0; padding:5px 8px;  border:1px solid #ccc;  }
.theme .current{   background:#f3f9f5;}
.theme p{ margin: 0; padding:2px 0; white-space:nowrap;  overflow:hidden;text-overflow:ellipsis; width:225px;}

.upfile li{  float:left;  margin:5px 3px 25px 0;    width:90px; height:88px; border:0px solid #ccc; text-align:center;}
.upfile .current{   background:#f3f9f5;}
.upfile p{ margin:3px 0; overflow:hidden;text-overflow:ellipsis; white-space:nowrap; line-height:150%; }
.upfile a{   width:48px; height:48px;   }
.upfile img{ border:0px solid #ccc; }
.upfile .delete{position:relative;  width:20px; height:20px;   top:-92px;   right:-40px;  border:0px solid gray; color:Gray; font-size:10px; }
 
.notice {  line-height:22px; border:1px solid #ccc;color:#666; padding:3px  ;   }

.tools { border:1px solid #ccc;padding:3px; width:90%; margin:5px;}
.content { margin:3px auto;  border:0px solid red;}

.header { font-size:15px;font-weight:bold;background-color: #E1F0FD; color:#154BA0; padding: 6px 6px;}
.category td {   font-weight:bold;   background-color: #f4faf6; padding:5px ; height:18px;}
.category td a { text-decoration:underline;}
.row td { padding:7px 6px;border-bottom:#F1F3F3  1px solid; background-color:#FDFDFD;}
.rowend td { padding:7px 6px; background-color:#FDFDFD;}

/* verfiy form*/
.m_error{ padding:5px;font-size: 13px; color:Red; margin:  0 ; background:#fff2f2 ;}
.m_desc{ padding:5px ;font-size: 13px; color:#666; margin-left: 0; background:  #F5FAFE ;}

 /*post form*/
.p_error { margin: 10px 0;border: #FFD259 1px solid;	padding:5px;	font: bold 14px Red  ;color:Red;	background:  #FBFFE1;}
.p_message {    margin: 10px 0;	border: #49BA1E 1px solid;	padding:5px;	font: bold 14px green ;	color:green;	 background:  #FBFFE1; }

/*page*/
.pager{ clear:both; margin: 10px 0 10px 0; padding:5px 0;}
.pager a,.pager span {float:left;border:1px solid #E6E7E1; line-height:20px;margin-right:5px;padding:0 6px; color:#0046D5;  }
.pager a:hover{ text-decoration:none; border-color:#0046D5;}
.pager .current {background-color:#0046D5;border-color:#0046D5;color:#fff; font-weight:bold;}
.pager .total ,.pager .total strong { color:Gray; padding:0 3px; }
 